@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSBombaram';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}

:root {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #000;
}

ul li {
    list-style: none;
    color: #fff;
}

.warp {
    width: 100%;
    height: 100%;
}

/************************************ 모바일네비 */

.fixed_menu {
    width: 100%;
    z-index: 999;
    background: #fff;
    display: none;
}

.hidden_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_b img {
    width: 10rem;
}

.toggle_icon {
    cursor: pointer;
}

.toggle_icon svg {
    width: 2.5rem;
    height: 2.5rem;
}

.toggle_menu {
    position: absolute;
    left: 0;
    top: 6.5rem;
    display: none;
    width: 100%;
    text-align: center;
    z-index: 999;
    background: #90aa92;
}

.toggle_menu div {
    margin: 4rem;
    font-family: 'ChosunGu';
    font-size: 2rem;
}

.hide_toggle{
    cursor: pointer;
    padding: 3vw;
    position: relative;
    color: #fff;
}

.hide_toggle div a{
    color: #fff;
    font-family: 'GmarketSansLight';
}


/********** nav-menu **********/

header {
    width: 100%;
    padding: 2rem;
    position: relative;
    border-bottom: #90aa92 1px solid;
}

.nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 10rem;
}

.logo img {
    width: 100%;
}

.hide-logo {
    width: 100%;
    display: none;
}

.nav_menu ul {
    display: flex;
}

.nav_btn {
    color: #000;
    font-size: 1.2rem;
    padding: 2rem;
    margin: 1rem;
    font-family: 'GmarketSansLight';
}

.nav_btn:hover {
    color: #90aa92;
}

/*********** 상담창 *********/

main {
    width: 100%;
    background: url(../img/subbg) no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
}

.title {
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 5vmax 0;    
    text-align: center;
    font-family: 'HSBombaram';
}

.line {
    width: 12rem;
    border-bottom: #90aa92 .5rem solid;
    margin: 1rem auto;
}

.contact {
    width: 100%;
    display: flex;
    align-items: center;
}

aside, section {
    width: 50vmax;
}


/**** left-box ****/

.left_box {
    text-align: center;
    margin: -10rem 3rem 0 10rem;
}

.left_box h3 {
    font-family: 'Abril Fatface', cursive; 
    font-size: 2rem;
    line-height: 5rem;
}

.left_box img {
    width: 100%;
    margin-bottom: 1rem;
}

.left_box p {
    font-size: .8rem;
    line-height: 1.5rem;
    color: #999;
}

/**** right-box ****/

.right_box {
    margin: 0 10rem 0 3rem;
}

.right_box p {
    line-height: 3rem;
    font-family: 'ChosunGu';
}

.check-box, .radio-box, .input-box, .file-box {
    margin-bottom: .5rem;
    font-family: 'ChosunGu';
}

/* check-box */

.box-checkbox-input input[type="checkbox"] {
    display: none;
}

.box-checkbox-input input[type="checkbox"]+span {
    display: inline-block;
    width: 32.7%;
    padding: .8rem;
    background-color: #fff;
    border: rgb(199, 199, 199) 1px solid;
    border-radius: .2vw;
    text-align: center;
    font-size: .8rem;
    cursor: pointer;
}

.box-checkbox-input input[type="checkbox"]:checked+span {
    border: 1px solid #0F5114;;
    background: #0F5114;;
    color: #fff;
}

/* radio-box */

.box-radio-input input[type="radio"] {
    display: none;
}

.box-radio-input input[type="radio"]+span {
    display: inline-block;
    position: relative;
    width: 49.5%;
    padding: .8rem;
    border: rgb(199, 199, 199) 1px solid;
    border-radius: .2vw;
    text-align: center;
    font-size: .8rem;
    cursor: pointer;
    background-color: #fff;
}

.box-radio-input input[type="radio"]:checked+span {
    border: 1px solid #0F5114;;
    background: #0F5114;;
    color: #fff;
}

/* radio-box2 */

.box-radio-input2 input[type="radio"] {
    display: none;
}

.box-radio-input2 input[type="radio"]+span {
    display: inline-block;
    width: 32.7%;
    padding: .8rem;
    border: rgb(199, 199, 199) 1px solid;
    border-radius: .2vw;
    text-align: center;
    font-size: .8rem;
    cursor: pointer;
    background-color: #fff;
}

.box-radio-input2 input[type="radio"]:checked+span {
    border: 1px solid #0F5114;;
    background: #0F5114;;
    color: #fff;
}

/* input */

#area {
    width: 100%;
    height: 2.7rem;
    border: rgb(199, 199, 199) 1px solid;
    border-radius: .2vw;
    color: rgb(199, 199, 199);
    padding-left: 1rem;
}

input:focus {
    outline: 1px solid #90aa92;
}

input {
    font-family: 'ChosunGu';
    font-size: .7rem;
}

/* tel/email */

.tel {
    display: inline-block;
    padding: .8rem;
    width: 25%;
    background-color: #fdfdfd;
    border: rgb(199, 199, 199) 1px solid;
    border-radius: .2vw;
    font-family: 'ChosunGu';
    font-size: .8rem;
    text-align: center;
    cursor: pointer;
}

#telemail {
    width: 74%;
    font-size: .8rem;
    padding: .9rem;
    border: rgb(199, 199, 199) 1px solid;
    border-radius: .2vw;
    margin-left: .3rem;
}


/* 파일업로드 */

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.filebox label {
    display: inline-block;
    width: 18%;
    height: 3rem;
    padding: .8rem;
    color: #999;
    vertical-align: middle;
    background-color: #fdfdfd;
    border: rgb(199, 199, 199) 1px solid;
    border-radius: .2vw;
    text-align: center;
    cursor: pointer;
}

.filebox .upload-name {
    display: inline-block;
    height: 3rem;
    width: 81%;
    font-size: .8rem;
    padding: 1rem;
    /* vertical-align: middle; */
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: .2vw;
}

.submit-box {
    width: 100%;
    margin: 2rem auto;
}

.submit-btn {
    width: 10rem;
    padding: 1.5rem;
    font-size: 1rem;
    background-color: #0F5114;;
    color: #fff;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}


/* footer */

footer {
    width: 100%;
    height: 13vmax;
    background-color: #90aa92;
    position: relative;
    z-index: 100;
}

.footer_inner {
    width: 100%;
    margin: 0 auto;
    padding-top: 3vw;
}

.footer_left {
    float: left;
    color: #fff;
    margin-left: 7vw;
}

.footer_left p {
    font-size: .5vw;
}

.f_logo {
    width: 11vmax;
}

.f_logo img {
    width: 100%;
}

.footer_right {
    float: right;
    color: #fff;
    margin-right: 7vw;
    text-align: right;
}

.footer_right p {
    padding-bottom: .5vw;
}


@media screen and (max-width: 1500px) {

    :root {
        font-size: 14px;
    }

    .left_box {
        margin: -3rem 3rem 0 3rem;
    }
    
    .right_box {
        margin: 0 3rem 0 3rem;
    }

}

@media screen and (max-width: 1100px) {

    :root {
        font-size: 12px;
    }

    .nav_btn {
        padding: 1rem;
        margin: .5rem;
    }

    .contact {
        flex-wrap: wrap;
    }

    aside, section {
        width: 60%;
        margin: 0 auto;
    }

    section {
        margin-top: 3rem;
    }

}


@media screen and (max-width: 760px) {

    :root {
        font-size: 10px;
    }

    aside, section {
        width: 80%;
    }

    .fixed_menu {
        display: block;
        top: 0;
    }
    .nav {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    :root {
        font-size: 7px;
    }

    .left_box p {
        line-height: 2rem;
    }

    aside, section {
        width: 100%;
    }

    #area {
        height: 3.5rem;
    }

    footer {
        height: 20rem;
    }

    .f_logo {
        width: 20rem;
    }

    .footer_right {
        display: none;
    }
    
    .footer_left p {
        padding-bottom: .5rem;
    }

}
